{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      About Page </p>
    
    <p> This website allows users to sign up and view the rivers of Croatia </p>
    <p> Once logged in, you can see the map page which shows the rivers and you can add your on river to the system </p>
    <p> Shows the natural beauty of the Croatian rivers </p>
    <hr>
    <img src = "https://pbs.twimg.com/media/EdbtNMkXgAEBZ4i.jpg" width="768" height="768">
  </div>
</section>
