{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Registered Users</p>
          {{> list-users }}

  </div>
</section>
