{{> menu active="dashboard"}}

<section class="section">
    <div class="hero-body has-text-centered">
    <p class="title ">
        Where is the River Located </p>
  </div>
</section>

<section class="section">
  {{> list-poi}}
</section>