{{> main-menu }}

<section class="section">
  <div class="hero-body has-text-centered">
  <p class="title "> To look up the rivers of Croatia, please sign up or login in </p>
  <p> You can also add your own rivers to the system </p>
  <hr>
  <img src = "https://croatia.eu/images/01-04/rijeke_en.png" width="512" height="512">
</section>