<form action="/dashboard/addPOI" method="POST">
  <div class="field">
    <label class="label">River Name</label> <input class="input" type="text" placeholder="Enter River Name" name="title"/>
  </div>
  <button class="button is-link">Add River</button>
</form>