{{#each poi}}
  <a href="/poi/{{_id}}">
    <div class="columns is-mobile is-centered">
      <div class="column is-8 is-offset-1d">
        <div class="box box-link-hover-shadow">
          <div class="title p-3 is-flex">
            <h2 class="title hero-body has-text-centered">
              {{title}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </a>
{{/each}}