<div class="box box-link-hover-shadow">
  <div class="title p-3 is-flex">
    <i
      style="font-size: 48px; color: Dodgerblue;"
      class="fas fa-location-arrow"
    ></i>
    <div class="ml-4">POI Placemarker</div>
    <div class="column">
      <p class="subtitle">Welcome {{user.firstName}} {{user.lastName}}</p>
    </div>

  </div>
</div>