   <figure class="image is-256x256">
      <img src={{rivers.img}}>
    </figure>

<div class="card">
  <div class="card-image">
    <figure class="image is-256x256">
      <img src={{rivers.img}}>
    </figure>
  </div>
</div>

<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>